<div class="container">

  <div class="header">
    <h2>Welcome to Sentwix!</h2>
    <h3>An Automated Movie Rating System</h3>
  </div>

  <div class="body">
    <div class="description">
      <p>
        How it works... Add movies to the list on the left and Sentwix
        will grab live tweets, perform sentiment analysis and give a rating
        for that movie based on the tweets! Results of the analysis can also be
        viewed at
        <%= link_to "Kenneth's Twitter Page", 'https://twitter.com/kennethlimjf' %>
      </p>
    </div>

    <div class="main-content">
      <div class="left">
        <p>
          Amet libero sequi consequatur minima assumenda esse! Quos cumque nihil nostrum accusantium molestias. Sequi culpa commodi est nobis qui voluptatum voluptatibus? Repudiandae eum accusamus possimus quisquam quam autem. Beatae earum?
        </p>
      </div>

      <div class="right">
        <p class="enter-movie-label">Enter movie to analyze</p>

        <%= flash[:notice] if flash[:notice] %>
        <%= flash[:error] if flash[:error] %>

        <%= form_for @movie do |f| %>
          <%= f.text_field :title %>
          <%= f.submit %>
        <% end %>

        <ul>
          <% @movies.each do |movie| %>
            <li><p><%= movie.title %> <small><%= link_to "(Remove)", movie_path(movie), method: :delete %></small></p></li>
          <% end %>
        </ul>
      </div>

      <div class="clearfix"></div>
    </div>


   
  </div>
</div>
